[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.65.1"
httptools = "==0.1.2"
peewee = "==3.14.4"
uvicorn = "==0.13.4"
SQLAlchemy = "==1.4.15"
alembic = "==1.6.2"
psycopg2-binary = "==2.8.6"
python-dotenv = "==0.17.1"
requests = "==2.25.1"

[dev-packages]
flake8 = "==3.9.2"
autopep8 = "==1.5.7"
pytest = "==6.2.4"

[requires]
python_version = "3.9"
