click==7.1.2
fastapi==0.65.1
h11==0.12.0
httptools==0.1.2
peewee==3.14.4
psycopg2-binary==2.8.6
pydantic==1.8.2
python-dotenv==0.17.1
PyYAML==5.4.1
starlette==0.14.2
typing-extensions==3.10.0.0
uvicorn==0.13.4
uvloop==0.15.2
watchgod==0.7
websockets==8.1

# db
SQLAlchemy==1.4.15
alembic==1.6.2
psycopg2-binary==2.8.6

# dev
flake8==3.9.2
autopep8==1.5.7
pytest==6.2.4
requests==2.25.1